<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  </head>
  <body class="">
    <a href="/dashboard">my files</a>
      <p>File Upload</p>
      <form method="post" action="upload/post" enctype="multipart/form-data">
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form>
  </body>
</html>